* { margin: 0; padding: 0;}
body, html { height:100%; }

canvas {
  position: absolute;
  width: 100%;
  height: 100%;
}

.ui {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 40px;
  border: 5px solid;
  border-color: #555555;
  background-color: #AAAAAA;
}

.ui:hover {
  background-color: #888888;
}

body {
  background-color: rgb(64, 116, 161);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}